<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882952076690-tocih80fciv9k5ibipdcg3krf944uj6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882952076690-tocih80fciv9k5ibipdcg3krf944uj6c</string>
	<key>API_KEY</key>
	<string>AIzaSyCYVgjF5VEWfCtuauHi1VKBLGC1PCfBvVo</string>
	<key>GCM_SENDER_ID</key>
	<string>882952076690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flexxited.flutterWorkshop</string>
	<key>PROJECT_ID</key>
	<string>flutter-workshop-new</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-workshop-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882952076690:ios:880b12023f1cb4553bd54b</string>
</dict>
</plist>